.form-label {
	font-size: .875rem;
	margin-bottom: 6px;
	display: block;
	color: rgba(#000, .56);
}

.form-control {
	transition: border-color .15s ease;
	border: 1px solid rgba(#000, .16);
	border-radius: 8px;
	display: block;
	width: 100%;
	font-size: 1rem;

	&:focus {
		border: 1px solid darken(#1d1d1d, 20%);
	}
}

input.form-control {
	&.size-base {
		height: 36px;
		padding: 0 12px;
	}

	&.size-lg {
		height: 46px;
		padding: 0 16px;
	}
}

textarea.form-control {
	line-height: 1.25;

	&.size-base {
		min-height: 36px;
		padding: 7px 12px;
	}
}

html.dark .form-control {
	background-color: #1d1d1d;

	&:focus {
		border: 1px solid lighten(#1d1d1d, 20%);
	}
}

html body .form-control.invalid {
	background-color: rgba(#9d2a23, .1);

	&:focus {
		&.invalid {
			border-color: #9d2a23;
		}
	}
}

.form-group {
	.v-enter-active, .v-leave-active {
		transition: opacity .25s ease;
	}

	.v-enter-from, .v-leave-to {
		opacity: 0;
	}
}
